# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
*.db
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.venv/
venv/
env/
.env
.python-version

# Editors/IDE
.idea/
.vscode/

# Build / dist
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Project data
data/
uploads/
logs/
*.log

# OS
.DS_Store
Thumbs.db
